body{
  background-color: #44FA02;
  margin: auto;
  font-family: 'Squada One', cursive;
  position: fixed;
  top: 100px;
  width: 100%;
  padding: 5px;
  text-align: center;
  align-items:center;
}
.container{
  position: fixed!important;
}
.loader{
  padding-top: 10 !important;
}
